* {
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.5em;
  overflow-x: hidden;
  font-size: 15px;
}

.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container{
  width: 600px;
  margin: 0 auto;
}

.hello{
  height: 100%;
  width: 100%;
}

.hello h1{
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.hello h2{
  font-size: 16px;
   font-weight: normal;
}

.leftbar{
  position: fixed;
  width: 40%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.1);
  overflow: hidden;
}

.leftbar .scene>div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.leftbar .background {
  background: url(../img/intro_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.leftbar .background.figma {
  background-image: url(../img/intro_figma.png);
  background-position: center center;
}

.leftbar .shadow .inner{
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

.leftbar .titlebox{
  position: absolute;
  bottom: 9%;
  right: 9%;
  width: 500px;
  color: #fff;
  text-align: right;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .6);
  max-width: 100%
}

.leftbar .titlebox h1{
  font-size: 33px;
  padding-bottom: 10px;
  line-height: 40px;
  letter-spacing: .2em;
}

.leftbar .titlebox h1 span{
  font-size: 24px;
  line-height: 30px;
}

.leftbar .titlebox h2{
  font-size: 15px;
  letter-spacing: .1em;
  font-weight: normal;
}

.leftbar .flow img{
  position: absolute;
  bottom: 24%;
  right: 15%;
  display: inline-block;
  height: 200px;
}

.scene{
  height: 100%;
  width: 100%;
}

.main{
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  background-color: #fafafa;
  min-height: 100%;
}

.main .ch{
  padding: 100px 0;
}

.ch.header {
  background-color: #57689b;
  color: #FFF;
  text-align: center;
}

.ch.header img.logo{
  height: 260px;
}

.header .nav a {
  display: inline-block;
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 13px;
  color: #fff;
  transition: .3s all;
}

.header .nav a.current {
  border-bottom: 4px solid #fff;
}

.header .nav a:hover {
  background-color: #3c4968;
}

.ch.hello .g_logo{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 20px;
  display: inline-block;
}

.ch.map{
  position: relative;
  padding: 0;
  background: #111;
}

.ch.map .overmap{
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  z-index: 2333;
}

.ch.map .overmap .container{
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
}

.ch.map .overmap .container>div{
  width: 50%;
  float: left;
  font-size: 14px;
  box-sizing: border-box;
  padding: 20px 0;
  padding-left: 8%;
  background-color: rgba(255, 255, 255, .8);
  border-top: 4px solid transparent;
  transition: .3s all;
}

.ch.map .overmap .container>div:hover{
  background-color: rgba(255, 255, 255, 1);
  border-top: 4px solid #57689b;
}

.ch.map .overmap .container>div h3{
  padding-bottom: 8px;
}

.ch.map .overmap .container>div p{
  font-size: 12px;
}

.ch.map .overmap a{
  font-size: 13px;
  text-decoration: none;
}

#mapitem{
  height: 500px;
  width: 100%;
}

.BMap_cpyCtrl,
.BMap_noprint .anchorBL {
  display: none;
}

.anchorBL {
  opacity: .4;
}

.ch.meta{
  position: relative;
}

.ch.meta.live{
  background-color: #fff;
}

.ch.meta .card{
  line-height: 1.6em;
}

.ch.meta .card h2{
  padding-bottom: 30px;
}

.ch.meta .card h2 i{
  display: inline-block;
  font-size: 40px;
  color: #57689b;
  width: 40px;
  text-align: center;
}

.ch.meta .card h3{
  line-height: 1.6em;
}

.ch.meta .card .list{
  padding-top: 20px;
}

.ch.meta .feature li{
  box-sizing: border-box;
  list-style: none;
  width: 42%;
  float: left;
  padding: 20px 5%;
  margin: 0 4% 30px 4%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
  border-radius: 10px;
  font-size: 14px;
  background-color: #fff;
}

.ch.meta .feature li i{
  padding-bottom: 20px;
  display: block;
  font-size: 45px;
}

.ch.meta p{
  float: left;
  width: 50%;
  line-height: 2.5em;
}

.ch.contact img.qrcode{
  width: 150px;
  height: 150px;
}

.page_coming{
  padding: 140px 0;
  text-align: center;
}

.page_coming h1{
  padding: 40px;
}

.footer{
  background-color: #eee;
  font-size: 14px;
}

.footer a{
  color: initial;
  text-decoration: none;
}

.footer .container{
    position: relative;
}

.footer h3{
  letter-spacing: .5em;
  padding-bottom: 40px;
  font-size: 20px;
}

.footer .meta .small{
  font-size: 12px;
  color: #888;
  padding-top: 10px;
}

.page_about .group a{
  color: initial;
  text-decoration: none;
}

.page_about .group img.qrcode{
  display: block;
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 40px;
}

.page_about .group span{
  display: block;
  font-size: 20px;
  line-height: 2em;
}

.page_about .group span.small{
  font-size: 15px;
  padding-top: 10px;
}

@-webkit-keyframes danmu{
  0%{
    right: 0;
  }
  100%{
    right: 100%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1050px) {
  .leftbar{
    position: relative;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
  }
  .main{
    width: 100%;
    margin-top: 600px;
  }
}

@media screen and (max-width: 700px) {
  .leftbar{
    position: relative;
    width: 100%;
  }
  .main{
    position: relative;
    width: 100%;
  }

  .container{
    width: 96%;
    padding: 2%;
    box-sizing: border-box;
  }

  .main .ch {
    padding: 50px 0;
  }
  .map{
    width: 100%;
  }

  .ch.map{
    padding: 0;
  }

  #mapitem{
    height: 400px;
  }

  .ch.map .overmap .container{
    padding: 0;
  }

  .ch.map .overmap .container>div{
    padding-right: 0;
     padding-left: 3%;
  }

  .ch.map .overmap .container>div h3{
    font-size: 14px;
  }



  .ch.header img.logo{
    width: 100%;
    height: auto;
  }

  .leftbar .titlebox h1 span {
    font-size: 20px;
  }

  .ch.meta p{
    width: auto;
    float: none;
  }
}

.page_apply .pagetitle{
  padding: 40px 0;
}

.page_apply .pagetitle .btn{
  display: inline-block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background: #7588ba;
  margin: 0 40px 20px 0;
  transition: .3s all;
}

.page_apply .pagetitle .btn i{
  font-size: 24px;
}

.page_apply .pagetitle .btn.current{
  background: #3c4968;
}

.page_apply .pagetitle .btn:hover {
  background: #57689b;
}

.page_apply .pagetitle h1{
  line-height: 40px;
}

.page_apply .iframebox{
  width: 100%;
  height: 2000px;
  -webkit-overflow-scrolling:touch;

}

.page_apply iframe{
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: 2000px;
  background-color:transparent;
}