* {
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

body,
html {
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.8;
  overflow-x: hidden;
  font-size: 15px;
}

.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container{
  width: 1100px;
  margin: 0 auto;
}

.columns {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 33.333%
}

.ch{
  padding: 65px 0;
}

.main,
.page-index{
  margin-top: 70vh;
  position: relative;
  z-index: 10;
  color: #fff;
}

a,a:link{
  text-decoration: none;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 233;
  height: 100px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);  
  -webkit-backdrop-filter: blur(10px);
}

.title-box{
  font-size: 24px;
  padding-bottom: 40px;
}

.loading{
  font-size: 20px;
  text-align: center;
  padding: 30px 0;
  opacity: .6;
  animation: loading 1s infinite alternate cubic-bezier(1,0,0,1);
}

@keyframes loading
{
0%   {opacity: .6;transform: translateX(-10%)}
50%   {opacity: .8;}
100% {opacity: .6;transform: translateX(10%)}
}



.intro{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .background{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    z-index: -10;
    transition: .8s all cubic-bezier(1,0,0,1);
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s all cubic-bezier(1,0,0,1);
  }
  .bg-cover{
    z-index: -1;
    opacity: 0;
    transition: .8s all cubic-bezier(0.5,0,0,0.5);
  }
  .bg-title{
    top: initial;
    bottom: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6)); 
    z-index: -2;
  }
  .bg-mask{
    top: initial;
    bottom: 0;
    height: 100%;
    //background: linear-gradient(to top, rgba(0,0,0,0), rgba(50,50,80,.8)); 
    background-color: rgba(0,0,0, 0.4);
    z-index: -3;
    opacity: 0;
  }
  &.off{
    .bg-cover{
      //opacity: .98;
    }
    .background{
      transform: scale(1.18);
      video{
        filter: blur(20px)
      }
    }
    .bg-mask{
      opacity: 1;
    }
  }
}

.page-index{
  .setinfo{
    height: 30vh;
    .card{
      height: 80%;
      margin: 10% auto;
      box-sizing: border-box;
      color: #fff;
      font-size: 50px;
      letter-spacing: .2em;
      text-align: center;
      h4{
        font-size: 24px;
      }
    }
  }
  .ch.story{
    position: relative;
    margin-top: 100px;
    .background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 600px;
      z-index: 1;
    }
    .background:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 600px;
      background-color: rgba(0,0,0,.5);
    }
    
    .background>div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-size: cover;
      transition: .8s all;
    }
    .background > div.active{
      opacity: 1;
    }
    img{
      position: relative;
      width: 750px;
      z-index: 5;
    }
    .content{
      position: absolute;
      right: 12%;
      bottom: 10%;
      background-color: rgba(94,80,158, 0.8);
      padding: 40px;
      z-index: 10;
    }
    p{
      font-size: 20px;
      letter-spacing: .5em;
      line-height: 2.2em;
    }
  }
  .ch.booth{
    .guestlist{
      .item{
        position: relative;
        width: 120px;
        height: 120px;
        background-color: rgba(0,0,0, 0.3);
        float: left;
        margin: 0 17px 15px 0;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 5px 20px rgba(0,0,0,.1);

        img{
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          height: auto;
          width: 120px;
          margin-right: 10px;
          float: left;
          vertical-align: middle;
          opacity: .7;
        }

        .content{
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 13px;
          box-sizing: border-box;
          padding: 7px;
          line-height: 1.5em;
          background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.4)); 
          h4,span{
            color: #fff;
          }
          span{
            opacity: .8;
            padding: 0 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
  .ch.apply{
    .booth-apply{
      position: relative;
      width: 100%;
      height: 180px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.3);
      margin-bottom: 20px;
      .content{
        position: absolute;
        right: 0;
        top: 0;
        width: 74%;
        height: 180px;
        background-size: cover;
        opacity: .7;
        transition: .3s all;
      }
      &:hover{
        .content{
          opacity: .9;
        }
      }
    }
    .big-btn{
      display: inline-block;
      text-align: center;
      width: 26%;
      height: 180px;
      background-color: rgba(94, 80, 158, 0.6);
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      display: table;
      p{
        display: table-cell;
        vertical-align: middle;
      }
      span{
        display: block;
        font-size: 13px;
        opacity: .5;
      }
    }
    .npc-apply{
      .big-btn{
        background-color: rgba(220, 86, 86, 0.3);
      }
    }
  }
  .ch.about{
    .staff-list{
      .column{
        width: 50%;
      }
      .item{
        padding: 8px 0;
        span{
          display: inline-block;
          width: 160px;
          float: left;
        }
        p{
          margin-left: 170px;
        }
        a,a:link{
          color: #fff;
          text-decoration: underline;
        }
      }
    }
  }
  .ch.location{
    padding: 0;
    position: relative;
    height: 500px;
    .map{
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
      z-index: 1;
      #mapitem{
        height: 500px;
        width: 100%;
        .anchorBL{
          opacity: .1;
        }
      }
    }
    .map_cover{
      position: absolute;
      bottom: 0;
      z-index: 10;
      width: 100%;
      transform: translateY(50%);
      .info{
        font-size: 16px;
        text-align: center;
        background-color: rgba(94, 80, 158, 1);
        padding-top: 20px;
        padding-bottom: 20px;
        h4{
          font-size: 19px;
          padding-bottom: 6px;
        }
        p span{
          display: inline-block;
          margin: 0 10px;
        }
        .left, .right{
          width: 50%;
        }
      }
    }
  }
  .ch.ticket{
    background-color: rgba(0,0,0, 0.35);
    .container {
      margin-bottom: 80px;
    }

    .pricelist{
      margin-top: 50px;
      margin-bottom: 30px;
    }
    
    .pricelist .ticket {
      display: inline-block;
      background-color: rgba(255,255,255, .2);
      text-align: center;
      box-sizing: border-box;
      padding: 30px 20px;
      justify-content: space-between;
      align-items: stretch;
      box-shadow: 0 3px 7px rgba(0, 0, 0, .08);
      height: 200px;
      width: 100%;
      position: relative;
    }
    
    .pricelist .ticket h3 {
      font-size: 18px;
      line-height: 1.5;
      height: 120px;
    }
    
    .pricelist .ticket h3 span {
      display: block;
    }
    
    .pricelist .ticket h3 span.price {
      font-size: 30px;
      padding: 10px 0;
    }
    
    .pricelist .ticket span.onsite {
      font-size: 12px;
      opacity: .3;
    }
    
    .links {
      margin-bottom: 20px;
      margin-top: 50px;
    }
    
    .links a {
      position: relative;
      display: block;
      text-decoration: none;
      color: #fff;
      background-color: #3c4968;
      text-align: center;
      height: 80px;
      line-height: 80px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, .08);
      transition: .3s all;
    }
    
    .links a:hover {
      box-shadow: 0 5 14px rgba(0, 0, 0, .2);
      transform: translateY(-4px);
    }
    
    .links a img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70px;
      height: 70px;
      opacity: .38;
      transform: rotate(20deg);
      transition: .3s all;
    }
    
    .links a:hover img {
      transform: rotate(9deg);
      width: 85px;
      height: 85px;
    }
    
    .items .item {
      margin: 50px 0;
      line-height: 2;
    }
    
    .items .item h4 {
      width: 150px;
      float: left;
      padding-right: 20px;
      font-size: 20px;
    }
    
    .items .item .content {
      margin-left: 170px;
    }    
  }
}

.footer{
  margin-top: 60px;
  background-color: rgba(0,0,0, 0.35);
  padding: 100px 0 150px 0;
  line-height: 1.9em;
  .meta{
    font-size: 12px;
    margin-top: 30px;
    .pre{
      opacity: .4;
      color: #fff;
    }
  }
}