extends  ./base/layout.pug

block header
  -  nav = "about"
  title 关于 - 大连东方ProjectOnly / 大连THO

block main
  .page_about
    .ch.container.clear
      .group
        a.clear(href="http://qm.qq.com/cgi-bin/qm/qr?k=Pw8cLF0sYHUGfJpGwR-wU6I7TDljOFUr") 
          img.qrcode(src="./source/img/qrcode.png")
          .t
            span.bag 点击加入
            span 大连东方Project 同好会
            span.small QQ群 203085108
        a.clear(href="http://qm.qq.com/cgi-bin/qm/qr?k=y2WyLnoP8dyAnFz8x9sMAQPoLxyT6U0u") 
          img.qrcode(src="./source/img/qrcode_busgroup.png")
          .t
            span.bag 点击加入
            span 大连THonly社团联络
            span.small QQ群 551807982
        a.clear.person(href="http://qm.qq.com/cgi-bin/qm/qr?k=onv2G61R3aDHfFAN4xS1IICJXTjpwSgw") 
          img.qrcode(src="./source/img/qrcode_yx.png")
          .t
            span.bag 点击联系
            span 大连THonly主办 苟云霞
            span.small QQ号 2803273730