extends  ./base/layout.pug

block header
  -  nav = "about"
  title 关于 - 大连东方ProjectOnly / 大连THO

block main
  .page_about
    .ch.container.clear
      .article.stafflist
        p 
          .item 幻想空闻集——风海小祭是一个在大连举办的，
          .item 东北地区又一个面向东方Project爱好者的Only向同人活动。
        p 
          .item 愿与你相逢于幻想乡，
          .item 欢迎来畅游这个专为东方爱好者所举办的祭典。
      .article.stafflist
        h2 STAFF
        .item <b>主催</b>云霞
        .item <b>画师</b>橘前辈、玲⑨、<a href="https://www.weibo.com/randomHS">噫咿咿咦<a>
        .item <b>LOGO设计</b><a href="https://www.weibo.com/ashour">阿时</a>
        .item <b>网站、物料协力</b><a href="http://flag.moe/?form=dlthonly">Nekotora</a>、<a href="http://nyanket.com/?form=dlthonly">Nyanket!喵通贩</a>
      .group
        a.clear(href="http://qm.qq.com/cgi-bin/qm/qr?k=Pw8cLF0sYHUGfJpGwR-wU6I7TDljOFUr") 
          img.qrcode(src="./source/img/qrcode.png")
          .t
            span.bag 点击加入
            span 大连东方Project 同好会
            span.small QQ群 203085108
        a.clear(href="http://qm.qq.com/cgi-bin/qm/qr?k=y2WyLnoP8dyAnFz8x9sMAQPoLxyT6U0u") 
          img.qrcode(src="./source/img/qrcode_busgroup.png")
          .t
            span.bag 点击加入
            span 大连THonly社团联络
            span.small QQ群 551807982
        a.clear.person(href="http://qm.qq.com/cgi-bin/qm/qr?k=onv2G61R3aDHfFAN4xS1IICJXTjpwSgw") 
          img.qrcode(src="./source/img/qrcode_yx.png")
          .t
            span.bag 点击联系
            span 大连THonly主办 苟云霞
            span.small QQ号 2803273730