extends  ./base/layout.pug

block header
  -  nav = "about"

block main
  .page_about
    .ch.container.clear
      .group
        a(href="http://qm.qq.com/cgi-bin/qm/qr?k=Pw8cLF0sYHUGfJpGwR-wU6I7TDljOFUr") 
          img.qrcode(src="./source/img/qrcode.jpg")
          span 点击加入
          span 大连东方Project 同好会
          span.small QQ群 203085108