extends  ./base/layout.pug

block main
  .page_apply
    .ch.container.pagetitle.clear
      a.btn(href="./index.pug") <i class="icon ion-md-arrow-round-back"></i> 返回主页
      h1 大连THO场贩/寄售摊位申请表
    <iframe id="wjform" height="2000" width="100%" src="https://wj.qq.com/s/2298672/9d62" frameborder="0" allowfullscreen></iframe>