
extends  ./base/layout.pug

block header
  -  nav = "apply"
  title 申请 - 大连东方ProjectOnly / 大连THO

block main
  .page_apply
    .ch.container.article
      h3 大连THOnly场贩/寄售申请须知（暂定）
      p 尊敬的东方同人社团主催：
      p 欢迎您申报大连TouHou Only活动 幻想空闻集——风海小祭的展会同人场贩/寄售，在您正式递交申请之前，还请您仔细阅读以下须知，递交本申请表则默认您知晓并同意本须知的内容。
      p 本次同人场贩/寄售由于场地限制，暂时预计可承担约30个摊位的场贩及寄售，每摊位配备一个45*180公分的长桌，两把椅子及两张摊主证。每桌可根据您的需要拆分为半桌，若您场贩物料较多，您亦可申请两桌。
      p 场贩摊位每半桌摊位收取50元摊位费用及50元押金，押金会在展会结束后7个自然日内返还；寄售摊位按照10%抽取寄售费用（例如您以40元的价格寄售某个作品，则每售出一份抽取4元作为佣金，还请您注意），寄售所得及售出清单会在7个自然日内返还。寄售作品预计每桌摆放4-8类并安排专人负责寄售，最终安排依据具体情况决定。另外寄售物流费用筹办组暂不承担，展会后剩余寄售物品的寄回邮费亦会从您的寄售收入中扣除，还请您谅解。
      p 根据目前筹办组暂定，您可以在展会开始前当天下午前往会场布置您的摊位，亦可于展会当日早8：30前入场布置，筹办组会在前一天及当日正式开场前下发摊主证。场地内会设置专门的展会物料存放区，您可根据需要自便。
      p 对于游戏Demo展示类、PV宣传等，我们会专门安排多媒体/游戏区为您展示，不收取任何费用，届时还请您知会分区负责人。
      p 同时您须保证您的作品为社团/个人原创，或者获得版权所有者的授权，否则组委会有权退还您的寄售作品，此外，售卖作品中请勿包含色情、暴力等违法国家法律、以及其他不适宜在东方only同人即售活动中出现的内容。
      p 场贩第一轮申请通道截止至展会正式举办前四十天，摊位分配会在展会正式举办前三十天以邮件的形式告知参加第一轮申请的各个社团，实际申请截止及公布日期可能由于实际情况有所出入。参与第二轮申请的社团，筹办组无法保证您的摊位申请或特殊需求能被受理；寄售申请统一截止至展会正式举办前二十天，商品邮寄则在展会正式举办前十天内由筹办组统一告知各寄售社团，届时请您关注社团联络群的通知。
      p 场贩社团的费用缴纳事宜会由筹办组统一通知，请您静候。同时若您由于行程问题需要取消您的场贩申请，请在正式摊位分配公布前知会筹办组，在正式摊位分配公布后取消场贩申请的社团，恕不退还已经缴纳的押金的50%；取消寄售申请的社团，商品的邮寄费用由寄售社团自负，请您理解。
      p 同时如果您仍对场贩/寄售规则存在疑问，或者由特殊需求，可联系筹办组沟通。
      p 以上为本次THOnly场贩/寄售规则，望您知悉。最后，期待在幻想空闻集上与您相逢！
      p 大连THOnly筹办组
      .apply_process
        p <span>一轮场贩申请截止时间</span>2019.01
        p <span>摊位分配截止时间</span>2019.02初
        p <span>寄售申请截止时间</span>2019.02中旬
        p <span>寄售商品邮寄</span>活动开始前10天
        br
        p 
          a(href="./about.pug") 同时请加入社团联络群 (QQ群：551807982)
      .pagetitle.clear
        a.btn.disable(href="javascript:alert('申请已经截止，感谢支持')") <i class="icon ion-md-basket"></i> 大连THO场贩/寄售摊位申请
        a.btn.disable(href="javascript:alert('申请暂未开放，尽请期待')") <i class="icon ion-md-beer"></i> 大连THO工作人员申请