extends  ./base/layout.pug

block header
  -  nav = "apply"
  title 场贩寄售申请 - 大连东方ProjectOnly / 大连THO

block main
  .page_apply
    .ch.container.pagetitle.clear
      a.btn(href="./apply_ready.pug") <i class="icon ion-md-arrow-round-back"></i> 返回
      h3 大连THO场贩/寄售摊位申请
    .iframebox
      <iframe id="wjform" scroll src="https://wj.qq.com/s/2298672/9d62" allowtransparency="true" scrolling="no" frameborder="0" allowfullscreen></iframe>