
extends  ./base/layout.pug

block header
  -  nav = "apply"

block main
  .page_apply
    .ch.container.notice
      h3 大连THOnly场贩/寄售申请须知（暂定）
      p 尊敬的东方同人社团主催：
      p 欢迎您申报大连TouHou Only活动 幻想空闻集——风海小祭的展会同人场贩/寄售，在您正式递交申请之前，还请您仔细阅读以下须知，递交本申请表则默认您知晓并同意本须知的内容。
      p 本次同人场贩/寄售由于场地限制，暂时预计可承担约40个摊位的场贩及寄售，每摊位配备一个45*180公分的长桌，两把椅子及两张摊主证。每桌可根据您的需要拆分为半桌，若您场贩物料较多，您亦可申请两桌。
      p 根据目前暂定，您可以在展会开始前当天下午前往会场布置您的摊位，亦可于展会当日早8：30前入场布置，筹办组会在前一天及当日正式开场前下发摊主证。场地内会设置专门的展会物料存放区，您可自便。
      p 场贩摊位每半桌摊位收取40元摊位费用及60元押金，押金会在展会结束后7个自然日内返还；寄售摊位按照10%抽取寄售费用（例如您以40元的价格寄售某个作品，则每售出一份抽取4元作为佣金，还请您注意），寄售所得及售出清单会在7个自然日内返还。寄售作品预计每桌摆放4-8类并安排专人负责寄售，最终安排依据具体情况决定。另外寄售物流费用筹办组暂不承担，展会后剩余寄售作品的寄回邮费亦会从您的寄售收入中扣除，还请您谅解。
      p 对于游戏Demo展示类、PV宣传等，我们会专门安排多媒体/游戏区为您展示，不收取任何费用，届时还请您知会分区负责人。
      p 同时您须保证您的作品为社团/个人原创，否则组委会有权退还您的寄售作品。
      p 售卖作品中请勿包含色情、暴力等违法国家法律的内容
      p 以上为本次THOnly场贩/寄售规则，望您知悉，若您对本暂定申请规则有任何意见或建议，欢迎您联系QQ2803273730。我们预计会在展会正式开展三个月前订正最终场贩/寄售规则并开启申请通道。
      p 最后，期待在幻想空闻集上与您相逢！
      p 大连THOnly筹办组
    .ch.container.pagetitle.clear
      h3.wait 申请暂未开放，尽请期待
      a.btn(href="alert('申请暂未开放，尽请期待')") <i class="icon ion-md-basket"></i> 大连THO场贩/寄售摊位申请
      a.btn(href="alert('申请暂未开放，尽请期待')") <i class="icon ion-md-beer"></i> 大连THO工作人员申请