<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./source/style/ionicons.min.css")
    link(rel="stylesheet", href="./source/style/th.css")
    script(src="./source/script/app.js")
    script(src="./source/script/apply.js")
    meta(name="description" content="愿与你相逢于幻想乡，首届大连东方ProjectOnly，幻想空闻集——风海小祭！")
    meta(name="keywords" content="大连 东方 东方Project DLTHO 大连THO 大连东方Project 东方Only 漫展 活动 live 线下 演出 同人 2019")
    block header
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123043996-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-123043996-1');
  body
    .page_coming.page_booth(style="padding-top: 60px;")
      .container
        .guest#guestlist
          p(v-if="!loaded") Loading...
          a(href="#",v-for="item in list")
            .item(:class="{highlight: item.highlight}")
              img(:src="item.image?'./logo/'+item.image:'./logo/na.png'")
              .content
                h4 {{item.guest}}
                .tags
                  span.area {{item.area}}
                  span.type {{item.type}}
                  //- span(v-for="tag in item.tags",v-if="tag") {{tag}}
                //- p {{item.tags}}
            .clear
          .clear
        p.notice 更多社团陆续更新中，尽请期待... 
    style.
      .page_coming{
        padding:0;
        padding-bottom: 80px;
      }
      .booth_detail{
        text-align: left;
        padding-bottom: 50px;
      }
      .notice{
        margin-top: 60px;
        margin-bottom: 40px;
        color: #999;
        font-size: 16px;
      }
    script(src="https://cdn.jsdelivr.net/npm/vue")
    script.
          var list = [
      {"guest":"【神秘社团】","tags":"","area":"日本","type":"直参","image":"ta_blur.jpg","desc":"","highlight": true},
      {"guest":"【神秘社团】","tags":"","area":"日本","type":"直参","image":"sf_blur.jpg","desc":"","highlight": true},
      {"guest":"【神秘社团】","tags":"","area":"日本","type":"直参","image":"ys_blur.jpg","highlight": true},
      {"guest":"求文社","tags":"周边 同人本","area":"中国","type":"寄售","image":"QiuWen.jpg","desc":""},
      {"guest":"疯帽子茶会","tags":"音乐","area":"中国","type":"直参","image":"Mad hatter tea.jpg","desc":""},
      {"guest":"赤音羽","tags":"音乐","area":"中国","type":"寄售","image":"ChiYinYu.jpg","desc":""},
      {"guest":"幻想诗篇Xanadu Canto","tags":"音乐","area":"中国","type":"直参","image":"Xanadu_Canto.jpg","desc":""},
      {"guest":"幻想跃迁实验室","tags":"音乐 文字","area":"中国","type":"直参","image":"Lab LOF.jpg","desc":""},
      {"guest":"Bunny rhyTHm","tags":"音乐","area":"中国","type":"直参","image":"bunny_rhyTHm.jpg","desc":""},
      {"guest":"第零研究院","tags":"游戏 周边 文字","area":"中国","type":"直参","image":"zero.jpg","desc":""},
      {"guest":"秋空Agrotech","tags":"文字","area":"中国","type":"直参","image":"Agrotech.jpg","desc":""},
      {"guest":"醉梦笔笺","tags":"文字","area":"中国","type":"直参","image":"zmbj.jpg","desc":""},
      {"guest":"陆柒团","tags":"周边","area":"中国","type":"寄售","image":"The Six Seven.jpg","desc":""},
      {"guest":"AbsoluteZero","tags":"周边","area":"日本","type":"直参","image":"AbsoluteZero.jpg","desc":""},
      {"guest":"酢.Ｍ.Ａ.Ｐ.","tags":"周边","area":"日本","type":"直参","image":"MAP.jpg","desc":""},
      {"guest":"すなめりドリル","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"悶KID","tags":"周边","area":"日本","type":"直参","image":"KID.jpg","desc":""},
      {"guest":"ぱいそんきっど","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"焼き鳥フェニックス","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"东方寓梦粹","tags":"文字","area":"中国","type":"直参","image":"YMC.jpg","desc":""},
      {"guest":"XP社","tags":"卡牌","area":"中国","type":"直参","image":"XP.jpg","desc":""},
      {"guest":"Alice手工坊","tags":"周边 同人本 服饰","area":"中国","type":"直参","image":"Alice.jpg","desc":""},
      {"guest":"墨斯卡林之翼","tags":"周边 同人本","area":"中国","type":"寄售","image":"MW.jpg","desc":""},
      {"guest":"CREST","tags":"音乐","area":"日本","type":"直参","image":"Crest.jpg","desc":""},
      {"guest":"SJS团","tags":"周边","area":"中国","type":"直参","image":"sjs.jpg","desc":""},
      {"guest":"THB梦缘社","tags":"音乐","area":"中国","type":"直参","image":"THB.jpg","desc":""},
      {"guest":"京都幻想剧团","tags":"音乐 动画","area":"中国","type":"直参","image":"kyoto fantasy troupe.jpg","desc":""},
      {"guest":"幻奏盛宴","tags":"音乐","area":"中国","type":"直参","image":"touhou symphony .jpg","desc":""},
      {"guest":"AQUA STYLE","tags":"游戏","area":"日本","type":"代理寄售","image":"AQUA STYLE.jpg","desc":""},
      {"guest":"蛛网之财商团","tags":"","area":"韩国","type":"直参","image":"kumono_ie.jpg","desc":""},
      {"guest":"Kross.ProJecT","tags":"","area":"韩国","type":"直参","image":"Kross.ProJecT.jpg","desc":""},
      {"guest":"IRON Attack","tags":"音乐","area":"日本","type":"直参","image":"IRON ATTACK.jpg","desc":""},
      {"guest":"纽约花残月","tags":"音乐","area":"中国","type":"代理寄售","image":"Hana Nekori Tsuki.jpg","desc":""},
      {"guest":"蓬莱玛格特洛依德梦乐团","tags":"音乐","area":"中国","type":"寄售","image":"hourai.jpg","desc":""},
      {"guest":"TsuBaKi","tags":"音乐","area":"中国","type":"寄售","image":"TsuBaKi.jpg","desc":""},
      {"guest":"幻想虚照","tags":"音乐","area":"中国","type":"寄售","image":"HXXZ.jpg","desc":""},
      {"guest":"ジャージと愉快な仲間たち","tags":"音乐","area":"日本","type":"直参","image":"bellwo.jpg","desc":""},
      {"guest":"TAMUSIC","tags":"音乐","area":"日本","type":"直参","image":"TAMUSIC.jpg","desc":""},
      {"guest":"沈阳THOnly","tags":"音乐/周边","area":"中国","type":"直参","image":"SYTHO.jpg","desc":""},
      {"guest":"Matthiola Records","tags":"音乐","area":"中国","type":"直参","image":"Matthiola Records.jpg","desc":""},
      {"guest":"Yonder Voice","tags":"音乐","area":"中国","type":"直参","image":"Yonder Voice.jpg","desc":""},
      {"guest":"幻梦缘起","tags":"同人本 周边","area":"中国","type":"直参","image":"HMYQ.jpg","desc":""},
      {"guest":"隙间月台","tags":"","area":"中国","type":"寄售","image":"xjyt.jpg","desc":""},
      {"guest":"NFT conFuoco orchestra","tags":"","area":"中国","type":"寄售","image":"nfto.jpg","desc":""},
      {"guest":"囧仙子通贩","tags":"","area":"中国","type":"直参","image":"jxz.jpg","desc":""},
      {"guest":"Rnote","tags":"","area":"日本","type":"代理寄售","image":"rnote.jpg","desc":""}
      ];
      list.forEach(function(item){
        item.tags = item.tags.split(' ');
      })
      var app = new Vue({
        el: '#guestlist',
        data: {
          list: list,
          loaded: true
        },
        mounted: function(){
        },
        methods: {
          // todo: filter
        }
      })
