extends  ./base/layout.pug

block header
  -  nav = "booth"

block main
  .page_ticket.page_coming
    .ch.container.pagetitle.clear
      img(src="./source/img/coming.svg")
      h1 少女祈祷中
      p 尽请期待