extends  ./base/layout.pug
  
block header
  -  nav = "meta"
  title 大连东方ProjectOnly / 大连THO


block intro
  .background(style="background-image: url(./intro-blur.jpg)")
  .background.bg-mask


block main
  .page.page-inner
    .page-inner-title
      .container
          h2 社团申请
          a(href="/") 返回首页
    .container
      .ch.article
        h3 大连THOnly亲参及寄售须知
        p 尊敬的东方同人社团主催：
        br
        p 欢迎您参与第三届大连TouHou Only——东方风海例祭的活动，在您正式参与活动之前，还请您仔细阅读以下须知，参与本次活动则默认您知晓且同意本须知的内容。
        br
        p 由于疫情原因，需要摊主们备好口罩、行程码（或健康码）为绿码、并接受NPC的体温测量，以上均无问题后方可进入展会现场。如有在展会当天出现身体不适等状况，请及时与场内NPC或者主办报告情况，我们将第一时间进行处理。
        p 本次展会亲参or寄售，场地预计可以容纳30至35个摊位，每个摊位会配备180x45公分的长桌，两把椅子，以及两张摊主证。每桌可根据您的需求进行调整，如果您的场贩商品较多，您也可以申请两桌摊位。
        br
        p 现场亲参摊位每桌收取100元摊位费用以及100元押金，押金会在展会结束后7个自然日内返还；寄售摊位按照10%抽取费用（例如寄售的某件商品价值为100元，则每售卖出一份，抽取10元佣金，还请您注意），寄售作品预计每桌摆放4-8类，并安排专人负责寄售，最终安排依据具体情况决定。寄售物流费用筹办组暂不承担，展后剩余寄售物品的寄回邮费会从您寄售收入中扣除（扣除比例为10%），还请您谅解。
        br
        p 目前筹办组根据场地时间，您可以在展会开始前一天下午前往会场布置您的摊位，布置时间为1月29日的下午13点至18点，也可于展会当日早8：30前入场布置，筹办组会在前一天以及当日活动开始前下发摊主证。场地内会设置专门的展会物料存放区，您可以根据需要使用。
        br
        p 对于游戏展示、PV宣传等，我们会安排多媒体区or游戏区为您展示，不收取任何费用，如有需求请提前进行告知。
        br 
        p 您需要保证您的作品为社团or个人原创，或者拥有原作者的授权，否则筹办组有权退还您的售卖作品。另外，售卖作品中请勿包含R18+、暴力等违反国家法律，以及其他不适合在东方同人only展中出现的作品。
        br
        p 摊位申请第一轮时间截止到2020年12月10日凌晨12点，摊位分配会在展会正式举办前14天，通过社团联络群群内通知各位。摊位申请第二轮时间截止到2020年12月20日凌晨12时。参与第二轮申请的社团，筹办组无法保证您的摊位申请或者特殊需求能被受理；寄售申请同一截止至展会正式举办前20天，商品邮寄则会在展会正式举办前十天内，由筹办组统一告知，届时请您关注社团联络群的通知。
        br
        p 现场的社团摊位费用缴纳事宜由筹备组统一通知，还请您静候。同时若您因为行程等其他问题需要取消场贩申请，请在正式摊位分配公布前通知筹办组。在正式摊位分配公布后取消场贩申请的社团，恕不退还押金；取消寄售申请的社团，商品邮寄费用须由寄售社团自负，请您理解。
        br
        p 如您仍对这份须知存在疑问或者其他需求，可以联系筹办组进行沟通。
        p 以上为本次大连THOnly的社团的规则须知，望您了解。希望在第三届的风海例祭，能与您留下难忘的回忆。
        br
        p 大连THOnly筹办组
        p <a href="http://qm.qq.com/cgi-bin/qm/qr?k=y2WyLnoP8dyAnFz8x9sMAQPoLxyT6U0u">同时请加入社团联络群 (QQ群：551807982)</a>
        a(style="margin-top: 20px;",class="btn", href="https://wj.qq.com/s2/7421616/5eb8?_t=1607951093323") 填写报名表单 提交申请