extends  ./base/layout.pug
  
block header
  -  nav = "meta"
  title 东方风海例祭 - 大连东方ProjectOnly - 大连THO网站

block intro
  .background(id="scene")
    .bg(data-depth="0.3", style="background-image: url('./intro/bg.jpg')")
    .dove(data-depth="0.25", style="background-image: url('./intro/dove.png')")
    .title(data-depth="0.2")
      img.inner-item.title-item(src="./intro/title.png")
    .fig(data-depth="0.15", style="background-image: url('./intro/fig.png')")
    .particle(data-depth="0.2", style="background-image: url('./intro/particle.png')")
  .bg-mask

block main
  -
    var list = [
      {"guest":"幽闭星光","tags":"","area":"日本","type":"直参","image":"yuuhei satellite.jpg","desc":"","highlight": true},
      {"guest":"少女分形","tags":"","area":"日本","type":"直参","image":"shoujo fractal.jpg","desc":"","highlight": true},
      {"guest":"魂音泉","tags":"","area":"日本","type":"直参","image":"tamaonsen.jpg","highlight": true},
      {"guest":"求文社","tags":"周边 同人本","area":"中国","type":"寄售","image":"QiuWen.jpg","desc":""},
      {"guest":"疯帽子茶会","tags":"音乐","area":"中国","type":"直参","image":"Mad hatter tea.jpg","desc":""},
      {"guest":"赤音羽","tags":"音乐","area":"中国","type":"寄售","image":"ChiYinYu.jpg","desc":""},
      {"guest":"幻想诗篇Xanadu Canto","tags":"音乐","area":"中国","type":"直参","image":"Xanadu_Canto.jpg","desc":""},
      {"guest":"幻想跃迁实验室","tags":"音乐 文字","area":"中国","type":"直参","image":"Lab LOF.jpg","desc":""},
      {"guest":"Bunny rhyTHm","tags":"音乐","area":"中国","type":"直参","image":"bunny_rhyTHm.jpg","desc":""},
      {"guest":"第零研究院","tags":"游戏 周边 文字","area":"中国","type":"直参","image":"zero.jpg","desc":""},
      {"guest":"秋空Agrotech","tags":"文字","area":"中国","type":"直参","image":"Agrotech.jpg","desc":""},
      {"guest":"醉梦笔笺","tags":"文字","area":"中国","type":"直参","image":"zmbj.jpg","desc":""},
      {"guest":"陆柒团","tags":"周边","area":"中国","type":"寄售","image":"The Six Seven.jpg","desc":""},
      {"guest":"AbsoluteZero","tags":"周边","area":"日本","type":"直参","image":"AbsoluteZero.jpg","desc":""},
      {"guest":"酢.Ｍ.Ａ.Ｐ.","tags":"周边","area":"日本","type":"直参","image":"MAP.jpg","desc":""},
      {"guest":"すなめりドリル","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"悶KID","tags":"周边","area":"日本","type":"直参","image":"KID.jpg","desc":""},
      {"guest":"ぱいそんきっど","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"焼き鳥フェニックス","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"东方寓梦粹","tags":"文字","area":"中国","type":"直参","image":"YMC.jpg","desc":""},
      {"guest":"XP社","tags":"卡牌","area":"中国","type":"直参","image":"XP.jpg","desc":""},
      {"guest":"Alice手工坊","tags":"周边 同人本 服饰","area":"中国","type":"直参","image":"Alice.jpg","desc":""},
      {"guest":"墨斯卡林之翼","tags":"周边 同人本","area":"中国","type":"寄售","image":"MW.jpg","desc":""},
      {"guest":"CREST","tags":"音乐","area":"日本","type":"直参","image":"Crest.jpg","desc":""},
      {"guest":"SJS团","tags":"周边","area":"中国","type":"直参","image":"sjs.jpg","desc":""},
      {"guest":"囧仙子通贩","tags":"","area":"中国","type":"直参","image":"jxz.jpg","desc":""},
      {"guest":"Rnote","tags":"","area":"日本","type":"代理寄售","image":"rnote.jpg","desc":""},
      {"guest":"THB梦缘社","tags":"音乐","area":"中国","type":"直参","image":"THB.jpg","desc":""},
      {"guest":"京都幻想剧团","tags":"音乐 动画","area":"中国","type":"直参","image":"kyoto fantasy troupe.jpg","desc":""},
      {"guest":"幻奏盛宴","tags":"音乐","area":"中国","type":"直参","image":"touhou symphony .jpg","desc":""},
      {"guest":"AQUA STYLE","tags":"游戏","area":"日本","type":"代理寄售","image":"AQUA STYLE.jpg","desc":""},
      {"guest":"蛛网之财商团","tags":"","area":"韩国","type":"直参","image":"kumono_ie.jpg","desc":""},
      {"guest":"Kross.ProJecT","tags":"","area":"韩国","type":"直参","image":"Kross.ProJecT.jpg","desc":""},
      {"guest":"IRON Attack","tags":"音乐","area":"日本","type":"直参","image":"IRON ATTACK.jpg","desc":""},
      {"guest":"纽约花残月","tags":"音乐","area":"中国","type":"代理寄售","image":"Hana Nekori Tsuki.jpg","desc":""},
      {"guest":"蓬莱玛格特洛依德梦乐团","tags":"音乐","area":"中国","type":"寄售","image":"hourai.jpg","desc":""},
      {"guest":"TsuBaKi","tags":"音乐","area":"中国","type":"直参","image":"TsuBaKi.jpg","desc":""},
      {"guest":"幻想虚照","tags":"音乐","area":"中国","type":"寄售","image":"HXXZ.jpg","desc":""},
      {"guest":"ジャージと愉快な仲間たち","tags":"音乐","area":"日本","type":"直参","image":"bellwo.jpg","desc":""},
      {"guest":"TAMUSIC","tags":"音乐","area":"日本","type":"直参","image":"TAMUSIC.jpg","desc":""},
      {"guest":"沈阳THOnly","tags":"音乐/周边","area":"中国","type":"直参","image":"SYTHO.jpg","desc":""},
      {"guest":"Matthiola Records","tags":"音乐","area":"中国","type":"直参","image":"Matthiola Records.jpg","desc":""},
      {"guest":"Yonder Voice","tags":"音乐","area":"中国","type":"直参","image":"Yonder Voice.jpg","desc":""},
      {"guest":"幻梦缘起","tags":"同人本 周边","area":"中国","type":"直参","image":"HMYQ.jpg","desc":""},
      {"guest":"隙间月台","tags":"","area":"中国","type":"寄售","image":"xjyt.jpg","desc":""},
      {"guest":"NFT conFuoco orchestra","tags":"","area":"中国","type":"寄售","image":"nfto.jpg","desc":""},
    ];
    
  .page.page-index
    .ch-intro
      .event-title
        h2#egg1 大连东方ProjectOnly<sup>03</sup>
        h4#egg3 2021.05.04 - 大连星海国际金融中心
        .container#egg4
          .nav
            a.enter-link(href="#story") 活动介绍
            a.enter-link(href="#booth") 社团嘉宾
            a.enter-link(href="#ticket") 门票周边
            a.enter-link(href="#apply") 活动报名
            a.enter-link(href="#about") 关于
            //- a.enter-link(href="/jp.html") 海外サークル出展特設ページ
    //- .ch.disable
    //-     .container.clear
    //-       .content
    //-         .title-box
    //-           h2 【重要】活动延期通知
    //-         p.gg
    //-           span 
    //-             | 各位东方同好：<br>
    //-             | 很抱歉地通知各位，由于大连本地的疫情和防疫政策影响，本次大连THOnly03无法如期和大家见面了，与大连东方ProjectOnly03同期举办的PartyNight活动也宣布延期，我们会尽快办理相关的退票和社团沟通事务。<br>
    //-             | 筹办组已经决定将大连东方ProjectOnly03<b>延期至2021年5月4日</b>举办，开票日期待定。和大连东方ProjectOnly联动的《台风眼》合同志计划及其他企划也会在后续一并处理。<br>
    //-             | 山高路远，来日方长。追逐幻想的脚步不会就此停止，期待我们还有再会的一天。再次感谢所有为大连东方ProjectOnly付出的各位，以及默默支持我们的所有同好。没有你们，我们无法铸就这名为同人的奇迹。<br>
    //-             | 再次向各位致歉，也感谢各位的理解，我们在风和气清的五月再会。 <br>
    //-             | <br>
    //-             | 大连东方Only筹备组
    .page-content
      .ch.story#story
        .background(id="story-swiper")
          div.item(style="background-image: url(./story-1.jpg)")
          div.item(style="background-image: url(./story-2.jpg)")
          div.item(style="background-image: url(./story-3.jpg)")
        .container.story-card
          .card
            img.bg(src="story.png")
            .content
              p 滨城的幻想之风，<br>人与妖怪的世界，<br>缘起于未完的画卷，<br>第三届，属于大连的东方ProjectOnly，<br>东方风海例祭，<br>在幻想乡期待你的到来！
      .ch.links
        .container
          .columns.clear
            .column
              a(href="https://weibo.com/dltho",style="background-color: #f76f8f;") 官方微博@大连THOnly<img src="./links_icon/weibo.png" />
            .column
              a(href="https://jq.qq.com/?_wv=1027&k=5QcqcWK",style="background-color: #60c3ea;") QQ群 大连东方Project同好会<img src="./links_icon/qq.png" />
            .column
              a(href="#",style="background-color: #6fe282;") 网站 dltho.com<img src="./links_icon/web.png" />
      //- .ch.booth
      //-   .container
      //-     .title-box
      //-       h2 参展社团
      //-     .content.clear
      //-       .guestlist#guestlist
      //-         each item in list
      //-           a(href="#")
      //-             .item(class=item.highlight ? 'highlight': '')
      //-               img(src=item.image?'https://dlthonly.fmoe.cn/logo/'+item.image:'https://dlthonly.fmoe.cn/logo/na.png')
      //-               .content
      //-                 h4= item.guest
      //-                 .tags
      //-                   span.area= item.area
      //-                   span.type= item.type

                //- .left.column
                //-   h4 大连东方Project同人作品即卖会 09:00 - 16:00
                //-   p 
                //-     span 大连心悦酒店5L大厅
                //-     span 大连市中山区人民路81号
                //- .right.column
                //-   h4 大连东方PartyNight 18:00 - 20:00
                //-   p 
                //-     span 大连心悦酒店5L大厅
                //-     span 大连市中山区人民路81号
      .ch.ticket
        .container.pricelist.clear
          .title-box
            h2 票务信息
          .columns.clear
            .column
              .ticket
                h3(style="color: #95d9f4;")
                  span 东方ProjectOnly<br>日场预售票
                  span.price ￥50
                span.onsite 入场门票+场刊
            .column
              .ticket
                h3(style="color: #f47a96;")
                  span 东方PartyNight<br>夜场PartyNight预售票
                  span.price ￥99
                span.onsite 入场特典+赠饮1杯
            .column
              .ticket
                h3(style="color: #74f7a4;")
                  span 东方PartyNight<br>东方ProjectOnly联票
                  span.price ￥149
                span.onsite 套票特典+入场特典+赠饮1杯
          .columns.links.clear(style="padding-top: 20px;")
            .column
              a(href="https://m.nyanket.com/event/dltho2021",style="background-color: #52a9ce;") 日场活动 喵通贩电子票<img src="./nyanket.png" />
            .column
              a(href="https://show.bilibili.com/platform/detail.html?id=35007",style="background-color: #e55075;") 日场活动 Bilibili会员购电子票<img src="./bilibili.png" />
            .column
              a(href="https://show.bilibili.com/platform/detail.html?id=35261",style="background-color: #e55075;") 夜场PartyNight Bilibili会员购电子票<img src="./bilibili.png" />
        .container
          .title-box
            h2 社团列表
          .content.clear
            p.waiting-text 少女祈祷中...尽请期待
      .ch.apply#apply
        .container
          .title-box
            h2 参展报名
          .content
            .card
              a(href="/circle-apply.html" target="_blank")
                .booth-apply
                  .big-btn
                    p 场贩/寄售摊位申请
                  .content(style="background-image: url(./booth-apply.jpg)")
              a(href="/staff-apply.html" target="_blank")
                .booth-apply.npc-apply
                  .big-btn
                    p NPC/筹备组申请
                  .content(style="background-image: url(./npc-apply.jpg)")
      .ch.location#location
        .map
          #mapitem
        .map_cover
          .container
            .content
              .info.clear
                .left.column
                  h4 大连东方Project同人作品即卖会 5月4日 09:00 - 16:00
                  p 
                    span 大连星海国际金融中心
                    span 大连市沙河口区星海广场A区13-15号
                .right.column
                  h4 大连东方PartyNight 5月3日 20:30 - 0:30
                  p 
                    span 大连 GIFT SPACE礼物空间
                    span 大连市中山区胜利广场28号
      .ch.about#about
        .container
          .title-box
            h2 关于 & 链接
          .content.staff-list.clear
            .column
              .item
                span 主催
                p 
                  a(href='http://qm.qq.com/cgi-bin/qm/qr?k=onv2G61R3aDHfFAN4xS1IICJXTjpwSgw') 云霞
                  |  / 
                  a(href='https://qm.qq.com/cgi-bin/qm/qr?k=vuRJUKV2cM-tBkXQG99zobYc0SeLJSDp&noverify=0') 麻薯
              .item
                span 美术
                p 余音 / 橘前辈 / 噫咿咿咦 / <a href="https://weibo.com/u/5847778562">兔菌孢子</a> / <a href="https://weibo.com/u/3715155081">萌子芽</a> / <a href="https://seau77.lofter.com/">seau</a> / <a href="https://weibo.com/u/3180092524">哈根达斯维达</a>
              .item
                span 企划
                p 老魏 / 麦麦 / 千羽 / 小爱 / 暗幻 / 流浪子 / 月见千绫
              .item
                span 原作
                p ©上海アリス幻樂団
            .column
              .item
                span Web / 平面
                p
                  a(href='http://flag.moe/?form=dlthonly') 哞菇
              .item
                span 设计 / 制品
                p 大兔子
              .item
                span LOGO设计
                p <a href="https://weibo.com/u/7125199255">阿时</a>
              .item
                span 执行
                p 大连东方ProjectOnly筹备组
              .item
                span 票务合作
                p
                  a(href='http://show.bilibili.com/') Bilibili会员购
                  |  / 
                  a(href='http://nyanket.com/') Nyanket!喵通贩
              
          div.gate
            a(href="http://touhou-symphony.net") 幻奏盛宴 - 东方同人音乐会
            a(href="http://houraisai.com") 蓬莱祭 - 来自韩国的THO活动
            a(href="https://bj.thonly.name") 北京THO：京华万象展 活动网站
            a(href="https://www.whtho.com/") 武汉THO：东方月桂影 活动网站
            a(href="https://thwiki.cc/") 台湾THO：東方春櫻宴 活动网站
            a(href="http://thonly.name/") 魅知幻想博览会 活动网站
            a(href="https://thwiki.cc/") THB Wiki
            <br>
            a(href="http://dltho.com/2019/") 旧站 2019: 大连THO01网站
            a(href="http://dltho.com/2020/") 旧站 2020: 大连THO02网站
    script(type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57")
  script(src="./source/script/parallax.min.js")
  script.
    $(function(){
      $(window).scroll(function(event){
        blurBg()
      });
      blurBg()
    })
    function blurBg(){
      var scrollTop = $(window).scrollTop();
      scrollTop>2 ? $(".intro").addClass('off') : $(".intro").removeClass('off');
    }
    var swiperBox = $('#story-swiper')
    var bannerCurrent = 1
    var bannerCount = swiperBox.children('.item').length
    function next(){
      bannerCurrent++;
      if(bannerCurrent>bannerCount) bannerCurrent = 1
      swiperBox.children('.item').removeClass('active')
      swiperBox.children('.item').eq(bannerCurrent-1).addClass('active')
    }
    next()
    setInterval("next()", 2000)

    // 地图
    var map = new BMap.Map('mapitem');
    var point_a = new BMap.Point(121.593493,38.892557);
    var point_b = new BMap.Point(121.640718,38.925384);
    var point_center = new BMap.Point(121.613895,38.903623);
    map.centerAndZoom(point_center, 13);
    var marker_a = new BMap.Marker(point_a);
    var marker_b = new BMap.Marker(point_b);

    var label_a = new BMap.Label("DLTHO", {
      offset: new BMap.Size(25, -10)
    })

    var label_b = new BMap.Label("DLTHO PartyNight", {
      offset: new BMap.Size(25, -10),
      border: "0",
    })
    window.l = label_a
    var style = {
      border: "none",
      backgroundColor: "rgba(0,0,0,.5)",
      color: "#fff",
      padding: "5px 13px",
      fontSize: "12px",
      borderRadius: "100px"
    }

    label_a.setStyle(style)
    label_b.setStyle(style)
    marker_a.setLabel(label_a);
    marker_b.setLabel(label_b);
    map.addOverlay(marker_a);
    map.addOverlay(marker_b);


    map.setMapStyle({style:'dark'});
    map.addControl(new BMap.NavigationControl({
      type: BMAP_NAVIGATION_CONTROL_ZOOM
    }));

    $("#map_control #point_a").hover(function () {
      map.centerAndZoom(point_a, 16);
      marker_a.setAnimation(BMAP_ANIMATION_BOUNCE);
    }, function () { 
      map.centerAndZoom(point_center, 14);
      marker_a.setAnimation(null);
    })

    var ua =navigator.userAgent.toLowerCase();
    let isQQ = false
    if(ua.indexOf('qq') !== -1) isQQ = true
    if(ua.indexOf('mqqbrowser') !== -1) isQQ = true
    if(isQQ) $('.bg-video').css('display','none')

    $("a.enter-link").click(function() {
      if($($(this).attr("href"))) scrollSmoothTo($($(this).attr("href")).offset().top)
    });

    $(window).scroll(function(event){
      if($(window).scrollTop() > 100){
        $(".gotop").addClass('show')
      }else{
        $(".gotop").removeClass('show')
      }
    })
    var scrollSmoothTo = function (position) {
      if (!window.requestAnimationFrame) {
          window.requestAnimationFrame = function(callback, element) {
              return setTimeout(callback, 17);
          };
      }
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      var step = function () {
          var distance = position - scrollTop;
          scrollTop = scrollTop + distance / 10;
          if (Math.abs(distance) < 1) {
              window.scrollTo(0, position);
          } else {
              window.scrollTo(0, scrollTop);
              requestAnimationFrame(step);
          }
      };
      step();
    };
    var clickTimer = 0
    $('#egg1').click(function(){
      clickTimer++
      if(clickTimer>3){
        $('#egg1 sup').text(clickTimer)
      }
    })
    var scene = document.getElementById('scene');
    var parallaxInstance = new Parallax(scene);