extends  ./base/layout.pug
  
block header
  -  nav = "meta"
  title 大连东方ProjectOnly / 大连THO

block intro
  .background.bg-main(style="background-image: url(./intro.jpg)")
    video.bg-video(src="./dltho_index.mp4", autoplay="autoplay", loop="loop", muted="muted", x5-playsinline="" playsinline="" webkit-playsinline="" poster="" x-webkit-airplay="allow" preload x5-video-player-type="h5-page")
  .background.bg-cover(style="background-image: url(./intro-blur.jpg)")
  .background.bg-title
  .background.bg-mask

block main
  -
    var list = [
      {"guest":"幽闭星光","tags":"","area":"日本","type":"直参","image":"yuuhei satellite.jpg","desc":"","highlight": true},
      {"guest":"少女分形","tags":"","area":"日本","type":"直参","image":"shoujo fractal.jpg","desc":"","highlight": true},
      {"guest":"魂音泉","tags":"","area":"日本","type":"直参","image":"tamaonsen.jpg","highlight": true},
      {"guest":"求文社","tags":"周边 同人本","area":"中国","type":"寄售","image":"QiuWen.jpg","desc":""},
      {"guest":"疯帽子茶会","tags":"音乐","area":"中国","type":"直参","image":"Mad hatter tea.jpg","desc":""},
      {"guest":"赤音羽","tags":"音乐","area":"中国","type":"寄售","image":"ChiYinYu.jpg","desc":""},
      {"guest":"幻想诗篇Xanadu Canto","tags":"音乐","area":"中国","type":"直参","image":"Xanadu_Canto.jpg","desc":""},
      {"guest":"幻想跃迁实验室","tags":"音乐 文字","area":"中国","type":"直参","image":"Lab LOF.jpg","desc":""},
      {"guest":"Bunny rhyTHm","tags":"音乐","area":"中国","type":"直参","image":"bunny_rhyTHm.jpg","desc":""},
      {"guest":"第零研究院","tags":"游戏 周边 文字","area":"中国","type":"直参","image":"zero.jpg","desc":""},
      {"guest":"秋空Agrotech","tags":"文字","area":"中国","type":"直参","image":"Agrotech.jpg","desc":""},
      {"guest":"醉梦笔笺","tags":"文字","area":"中国","type":"直参","image":"zmbj.jpg","desc":""},
      {"guest":"陆柒团","tags":"周边","area":"中国","type":"寄售","image":"The Six Seven.jpg","desc":""},
      {"guest":"AbsoluteZero","tags":"周边","area":"日本","type":"直参","image":"AbsoluteZero.jpg","desc":""},
      {"guest":"酢.Ｍ.Ａ.Ｐ.","tags":"周边","area":"日本","type":"直参","image":"MAP.jpg","desc":""},
      {"guest":"すなめりドリル","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"悶KID","tags":"周边","area":"日本","type":"直参","image":"KID.jpg","desc":""},
      {"guest":"ぱいそんきっど","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"焼き鳥フェニックス","tags":"周边","area":"日本","type":"直参","image":"","desc":""},
      {"guest":"东方寓梦粹","tags":"文字","area":"中国","type":"直参","image":"YMC.jpg","desc":""},
      {"guest":"XP社","tags":"卡牌","area":"中国","type":"直参","image":"XP.jpg","desc":""},
      {"guest":"Alice手工坊","tags":"周边 同人本 服饰","area":"中国","type":"直参","image":"Alice.jpg","desc":""},
      {"guest":"墨斯卡林之翼","tags":"周边 同人本","area":"中国","type":"寄售","image":"MW.jpg","desc":""},
      {"guest":"CREST","tags":"音乐","area":"日本","type":"直参","image":"Crest.jpg","desc":""},
      {"guest":"SJS团","tags":"周边","area":"中国","type":"直参","image":"sjs.jpg","desc":""},
      {"guest":"囧仙子通贩","tags":"","area":"中国","type":"直参","image":"jxz.jpg","desc":""},
      {"guest":"Rnote","tags":"","area":"日本","type":"代理寄售","image":"rnote.jpg","desc":""},
      {"guest":"THB梦缘社","tags":"音乐","area":"中国","type":"直参","image":"THB.jpg","desc":""},
      {"guest":"京都幻想剧团","tags":"音乐 动画","area":"中国","type":"直参","image":"kyoto fantasy troupe.jpg","desc":""},
      {"guest":"幻奏盛宴","tags":"音乐","area":"中国","type":"直参","image":"touhou symphony .jpg","desc":""},
      {"guest":"AQUA STYLE","tags":"游戏","area":"日本","type":"代理寄售","image":"AQUA STYLE.jpg","desc":""},
      {"guest":"蛛网之财商团","tags":"","area":"韩国","type":"直参","image":"kumono_ie.jpg","desc":""},
      {"guest":"Kross.ProJecT","tags":"","area":"韩国","type":"直参","image":"Kross.ProJecT.jpg","desc":""},
      {"guest":"IRON Attack","tags":"音乐","area":"日本","type":"直参","image":"IRON ATTACK.jpg","desc":""},
      {"guest":"纽约花残月","tags":"音乐","area":"中国","type":"代理寄售","image":"Hana Nekori Tsuki.jpg","desc":""},
      {"guest":"蓬莱玛格特洛依德梦乐团","tags":"音乐","area":"中国","type":"寄售","image":"hourai.jpg","desc":""},
      {"guest":"TsuBaKi","tags":"音乐","area":"中国","type":"直参","image":"TsuBaKi.jpg","desc":""},
      {"guest":"幻想虚照","tags":"音乐","area":"中国","type":"寄售","image":"HXXZ.jpg","desc":""},
      {"guest":"ジャージと愉快な仲間たち","tags":"音乐","area":"日本","type":"直参","image":"bellwo.jpg","desc":""},
      {"guest":"TAMUSIC","tags":"音乐","area":"日本","type":"直参","image":"TAMUSIC.jpg","desc":""},
      {"guest":"沈阳THOnly","tags":"音乐/周边","area":"中国","type":"直参","image":"SYTHO.jpg","desc":""},
      {"guest":"Matthiola Records","tags":"音乐","area":"中国","type":"直参","image":"Matthiola Records.jpg","desc":""},
      {"guest":"Yonder Voice","tags":"音乐","area":"中国","type":"直参","image":"Yonder Voice.jpg","desc":""},
      {"guest":"幻梦缘起","tags":"同人本 周边","area":"中国","type":"直参","image":"HMYQ.jpg","desc":""},
      {"guest":"隙间月台","tags":"","area":"中国","type":"寄售","image":"xjyt.jpg","desc":""},
      {"guest":"NFT conFuoco orchestra","tags":"","area":"中国","type":"寄售","image":"nfto.jpg","desc":""},
    ];
    
  .page.page-index
    .ch-intro
      .event-title
        h2#egg1 东方风海例祭<sup>2</sup>
        h4#egg2 大连东方ProjectOnly02
        h4#egg3 2020.02.08 - 大连心悦酒店5L大厅
        .container#egg4
          .nav
            a.enter-link(href="#story") 活动介绍
            a.enter-link(href="#booth") 社团嘉宾
            a.enter-link(href="#ticket") 门票周边
            a.enter-link(href="#apply") 活动报名
            a.enter-link(href="#about") 关于
            a.enter-link(href="/jp.html") 海外サークル出展特設ページ
    .ch.disable
        .container.clear
          .content
            .title-box
              h2 【重要】活动取消通知
            p.gg
              span <b>由于不可抗力影响，我们遗憾地宣布本次大连THO02的前夜预热活动，THO日场活动和夜间的东方LiveParty活动将全部取消。</b><br>相关计划宣告中止，我们会尽快安排退票和后续其他事宜。<br>非常感谢所有人对此的辛劳付出，同时也希望您能理解我们做出的决定，再次表达我们深沉的歉意。<br><br>大连THO组委会<br>2020年1月23日
    .page-content
      .ch.story#story
        .background(id="story-swiper")
          div.item(style="background-image: url(./story-1.jpg)")
          div.item(style="background-image: url(./story-2.jpg)")
          div.item(style="background-image: url(./story-3.jpg)")
        .container
          .card
            img.bg(src="story.png")
            .content
              p 滨城的幻想之风，<br>人与妖怪的世界，<br>缘起于未完的画卷，<br>第二届，属于大连的东方ProjectOnly，<br>东方风海例祭，<br>在幻想乡期待你的到来！
        .container.clear
          .description.columns
            .column
              h4 40+摊位齐聚全新扩建场地
              h4 台风眼计划特别同人志
              h4 限定神秘特典现场赠送
              h4 日本画师流星计划首次公开
            .column
              h4 日本东方音乐组合现场MiniLive
              h4 活动前夜Clown东方爵士乐之夜
              h4 夜场东方LiveParty
              h4 本地社团境界36号演奏
      .ch.links
        .container
          .columns.clear
            .column
              a(href="https://weibo.com/dltho",style="background-color: #f76f8f;") 官方微博@大连THOnly<img src="./links_icon/weibo.png" />
            .column
              a(href="https://jq.qq.com/?_wv=1027&k=5QcqcWK",style="background-color: #60c3ea;") QQ群 大连东方Project同好会<img src="./links_icon/qq.png" />
            .column
              a(href="#",style="background-color: #6fe282;") 网站 dltho.com<img src="./links_icon/web.png" />
      //- .ch.booth
      //-   .container
      //-     .title-box
      //-       h2 参展社团
      //-     .content.clear
      //-       .guestlist#guestlist
      //-         each item in list
      //-           a(href="#")
      //-             .item(class=item.highlight ? 'highlight': '')
      //-               img(src=item.image?'https://dlthonly.fmoe.cn/logo/'+item.image:'https://dlthonly.fmoe.cn/logo/na.png')
      //-               .content
      //-                 h4= item.guest
      //-                 .tags
      //-                   span.area= item.area
      //-                   span.type= item.type

                //- .left.column
                //-   h4 大连东方Project同人作品即卖会 09:00 - 16:00
                //-   p 
                //-     span 大连心悦酒店5L大厅
                //-     span 大连市中山区人民路81号
                //- .right.column
                //-   h4 大连东方LiveParty 18:00 - 20:00
                //-   p 
                //-     span 大连心悦酒店5L大厅
                //-     span 大连市中山区人民路81号
      .ch.ticket#ticket
        .container.pricelist.clear
          .title-box
            h2 票务信息
          .columns.clear
            .column
              .ticket
                h3(style="color: #95d9f4;")
                  span 东方ProjectOnly<br>日场预售票
                  span.price ￥60
                span.onsite 入场门票+场刊+合同志无料
            .column
              .ticket
                h3(style="color: #f47a96;")
                  span 东方LiveParty<br>夜场预售票
                  span.price ￥220
                span.onsite 入场特典
            .column
              .ticket
                h3(style="color: #74f7a4;")
                  span 东方LiveParty<br>东方ProjectOnly联票
                  span.price ￥279
                span.onsite 入场特典+神秘套票特典
          .columns.links.clear(style="padding-top: 20px;")
            .column
              a(href="https://m.nyanket.com/event/dltho2020",style="background-color: #52a9ce;") 日场活动 官方喵通贩电子票<img src="./nyanket.png" />
            .column
              a(href="https://show.bilibili.com/platform/detail.html?id=22414",style="background-color: #e55075;") 日场活动 Bilibili会员购电子票<img src="./bilibili.png" />
            .column
              a(href="https://show.bilibili.com/platform/detail.html?id=22981",style="background-color: #e55075;") 夜场live Bilibili会员购电子票<img src="./bilibili.png" />
      .ch.apply#apply
        .container
          .title-box
            h2 参展报名
          .content
            .card
              a(href="/circle-apply.html" target="_blank")
                .booth-apply
                  .big-btn
                    p 场贩/寄售摊位申请
                      span 开放中
                  .content(style="background-image: url(./booth-apply.jpg)")
              a(href="javascript:alert('申请暂未开放，尽请期待~')")
                .booth-apply.npc-apply
                  .big-btn
                    p NPC/筹备组申请
                      span 暂未开放
                  .content(style="background-image: url(./npc-apply.jpg)")
      .ch.location#location(style="margin-bottom: 50px;")
        .map
          #mapitem
        .map_cover
          .container
            .content
              .info.clear
                h4 大连东方Project同人作品即卖会 09:00 - 16:00
                  p 
                    span 大连心悦酒店5L大厅
                    span 大连市中山区人民路81号
      .ch.about#about
        .container
          .title-box
            h2 关于 & 链接
          .content.staff-list.clear
            .column
              .item
                span 主催
                p 
                  a(href='http://qm.qq.com/cgi-bin/qm/qr?k=onv2G61R3aDHfFAN4xS1IICJXTjpwSgw') 云霞
              .item
                span 画师
                p 橘前辈 / 玲⑨  <br>
                  a(href='https://www.weibo.com/randomHS') 噫咿咿咦
                  | / 
                  a(href='https://weibo.com/u/3180092524') 哈根达斯维达Jira
              .item
                span Web / 设计 / 制品
                p
                  a(href='http://flag.moe/?form=dlthonly') Nekotora
              .item
                span 票务合作
                p
                  a(href='http://flag.moe/?form=dlthonly') Bilibili会员购
                  |  / 
                  a(href='http://flag.moe/?form=dlthonly') Nyanket!喵通贩
            .column
              .item
                span LOGO设计
                p
                  a(href='https://www.weibo.com/ashour') 阿时
              .item
                span 社群
                p 大连东方Project同好会
              .item
                span 执行
                p 大连东方ProjectOnly筹备组

              //- .item
              //-   span Staff
              //-   p 橘前辈 / 風月⑨ / 千羽 / 闇幻 / 麻薯 / 风信子 / 麦麦 / 伊布 / 栋栋 / 老魏 / 哞菇 / 小爱 / 中秋 / 小兽 / 梦凌 / 殊小狸 / 晓畅 / 南零 / 莔莔 / Yin / 梨露 / 清疏 / 独角 / 柠檬 / 果子鱼AT ……
              //- .item
              //-   span Special Thanks
              //-   p 东方LiveParty筹办组 / 「苍崎」企划 / 大型幻想对撞机 / 慕尼 PAK長 / 囧仙 / BUNGUS兔菌孢子 / 猫店长 
              //-   p <b>And YOU.</b>

          div.gate
            a(href="/jp.html") 海外社团特别页面 / 海外サークル出展特設ページ
            a(href="http://2019.dltho.com/") 第一届旧站
    script(type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57")
  
  script.
    $(function(){
      $(window).scroll(function(event){
        blurBg()
      });
      blurBg()
    })
    function blurBg(){
      var scrollTop = $(window).scrollTop();
      scrollTop>2 ? $(".intro").addClass('off') : $(".intro").removeClass('off');
    }
    var swiperBox = $('#story-swiper')
    var bannerCurrent = 1
    var bannerCount = swiperBox.children('.item').length
    function next(){
      bannerCurrent++;
      if(bannerCurrent>bannerCount) bannerCurrent = 1
      swiperBox.children('.item').removeClass('active')
      swiperBox.children('.item').eq(bannerCurrent-1).addClass('active')
    }
    next()
    setInterval("next()", 2000)

    // 地图
    var map = new BMap.Map('mapitem');
    var point_a = new BMap.Point(121.663211, 38.931139);
    var point_b = new BMap.Point(121.646111,38.922389);
    var point_center = new BMap.Point(121.640187, 38.920089);
    map.centerAndZoom(point_center, 14);
    var marker_a = new BMap.Marker(point_a);
    var marker_b = new BMap.Marker(point_b);

    var label_a = new BMap.Label("DLTHO", {
      offset: new BMap.Size(25, -10)
    })

    var label_b = new BMap.Label("DLTHO LiveParty", {
      offset: new BMap.Size(25, -10),
      border: "0",
    })
    window.l = label_a
    var style = {
      border: "none",
      backgroundColor: "rgba(0,0,0,.5)",
      color: "#fff",
      padding: "5px 13px",
      fontSize: "12px",
      borderRadius: "100px"
    }

    label_a.setStyle(style)
    label_b.setStyle(style)
    marker_a.setLabel(label_a);
    //- marker_b.setLabel(label_b);
    map.addOverlay(marker_a);
    //- map.addOverlay(marker_b);


    map.setMapStyle({style:'dark'});
    map.addControl(new BMap.NavigationControl({
      type: BMAP_NAVIGATION_CONTROL_ZOOM
    }));

    $("#map_control #point_a").hover(function () {
      map.centerAndZoom(point_a, 16);
      marker_a.setAnimation(BMAP_ANIMATION_BOUNCE);
    }, function () { 
      map.centerAndZoom(point_center, 14);
      marker_a.setAnimation(null);
    })

    var ua =navigator.userAgent.toLowerCase();
    let isQQ = false
    if(ua.indexOf('qq') !== -1) isQQ = true
    if(ua.indexOf('mqqbrowser') !== -1) isQQ = true
    if(isQQ) $('.bg-video').css('display','none')

    $("a.enter-link").click(function() {
      if($($(this).attr("href"))) scrollSmoothTo($($(this).attr("href")).offset().top)
    });

    $(window).scroll(function(event){
      if($(window).scrollTop() > 100){
        $(".gotop").addClass('show')
      }else{
        $(".gotop").removeClass('show')
      }
    })
    var scrollSmoothTo = function (position) {
      if (!window.requestAnimationFrame) {
          window.requestAnimationFrame = function(callback, element) {
              return setTimeout(callback, 17);
          };
      }
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      var step = function () {
          var distance = position - scrollTop;
          scrollTop = scrollTop + distance / 10;
          if (Math.abs(distance) < 1) {
              window.scrollTo(0, position);
          } else {
              window.scrollTo(0, scrollTop);
              requestAnimationFrame(step);
          }
      };
      step();
    };
    var clickTimer = 0
    $('#egg1').click(function(){
      clickTimer++
      if(clickTimer>3){
        $('#egg1 sup').text(clickTimer)
        if(clickTimer==5) $('#egg2').text('疑惑？')
        if(clickTimer==10) $('#egg3').text('请停止你的行为')
        if(clickTimer==18) $('#egg2').text('* 不 *')
        if(clickTimer==31) $('#egg3').text('点屏幕就这么有意思吗？')
        if(clickTimer==42) $('#egg2').text('请继续您的表演')
        if(clickTimer==54) $('#egg3').text('没有彩蛋了，请不要点了，蟹蟹')
        if(clickTimer==78) $('#egg2').text('真的没有彩蛋了')
        if(clickTimer==89) $('#egg3').text('哦，您真的是太执着了')
        if(clickTimer==102) $('#egg2').text('我大概知道您想要什么了！')
        if(clickTimer==116) $('#egg3').text('下面，请欣赏————')
        if(clickTimer==130){
          $('.bg-main').css('background-image', 'url(/intro_alt.jpg)');
          $('video').remove();
          $('#egg1,#egg2,#egg3,#egg4').slideUp();
          setTimeout(function(){
            $('#egg1,#egg4').slideDown();
          }, 5000)
        }
      }
    })


    
    
    //- $("#map_control #point_b").hover(function () {
    //-   map.centerAndZoom(point_b, 16);
    //-   marker_b.setAnimation(BMAP_ANIMATION_BOUNCE);
    //- }, function () {
    //-   map.centerAndZoom(point_center, 14);
    //-   marker_b.setAnimation(null);
    //-   })