extends  ./base/layout.pug
  
block header
  -  nav = "meta"
  title 海外サークル出展特設ページ - 大连东方ProjectOnly / 大连THO


block intro
  .background(style="background-image: url(./intro-blur.jpg)")
  .background.bg-cover(style="background-image: url(./intro-blur.jpg)")
  .background.bg-title
  .background.bg-mask


block main
  .page.page-inner
    .page-inner-title
      .container
          h2 海外サークル出展特設ページ
          a(href="/") Index
    .container
      .ch.article
        h2 海外サークル出展特設ページ
        p
          | 日本同人サークル主催
          br
          | ご担当者様
        p
          | いつもお世話になっております。2020年2月8日、中国・大連で開催する 東方風海例祭 02　の参加をご検討頂き、誠にありがとうございます。申し込む前に、下記の内容をご確認よろしくお願いします：
        p
          | 今回の同人グッズ会場販売について、場所制限のため、约40個のブースを設ける予定で、それぞれのブースに45×180センチのテーブル１つ、椅子２つ、スタッフ証２枚が配られます。需要に応じ、半分サイズのテーブルも用意可能です。会場販売のグッズが多い場合、２つのテーブルを申し込むこともできます。
        p
          | 今回のイベントにおいて、海外サークルの出店は無料です。ブースの申し込みがご希望の場合、お手数ですが、サークルの名称、代表者、ツイッターの連絡先（もしあれば）をご明記し、kwenkasumi@gmail.comまでご連絡してください。こちらは3日以内に申し込みを受付し、7日以内に返信いたします。イベントの20日前に、ブース情報をお知らせします。
        p
          | もしほかに特别な要求がございましたら、遠慮なくご連絡ください。なるべく満足いたします。こちらのSNSをフォローし、さらに多くの情報が入手できます。どうぞよろしくお願いします。
        p 主催 大連THOnlyチーム / 大連東方Project同好会
        p
          | 主催者ツイッター 
          a(href='https://twitter.com/KwenKumoKasumi') https://twitter.com/KwenKumoKasumi
        p
          | イベントweibo 
          a(href='https://www.weibo.com/u/6469850580') https://www.weibo.com/u/6469850580
        img(src="/post.jpg")