extends  ./base/layout.pug
  
block header
  -  nav = "meta"
  title 大连东方ProjectOnly / 大连THO


block intro
  .background(style="background-image: url(./intro-blur.jpg)")
  .background.bg-mask


block main
  .page.page-inner
    .page-inner-title
      .container
          h2 STAFF申请
          a(href="/") 返回首页
    .container
      .ch.article
        h3 大连东方Only风海例祭NPC成员招募
        p 本次活动NPC招募为有偿招募，有相关的工作经验者优先，能够了解并执行活动现场的工作，如门口检票、维持排队秩序、场内等。
        p 需要活动当日开展前（9：00）三十分钟到场，如果条件允许，请参加活动展前一天的提前培训，具体的时间及地点会在之后告知。
        p 我们会提供NPC证件、中午的工作餐，以及相应的工资，如有想法，请发送消息至邮箱：3202435159@qq.com，并说明是工作人员申请，一并给出以往作为展会工作人员的经历等自我介绍内容，期待您的加入。
        a(style="margin-top: 20px;",class="btn", href="mailto:3202435159@qq.com") 发送邮件
        <br><br>
        h3 大连东方Only风海例祭看板娘招募
        p 本次活动看板娘招募为有偿招募，仅限女性，对外观有一定的要求，工作经验丰富者优先。
        p 工作要求：需要自备东方Project里角色的cos服，对东方Project有一定了解者优先。若无相应了解，也应保证对cosplay的角色有一定的基本了解。
        p 工作内容：在社团摊位帮助社团负责人记录出售的商品、价格，执行场内活动，工作有替班时时允许自行休息，但是尽量不要离开社团摊位。
        p 需要活动当日开展前（9：00）三十分钟到场，如果条件允许，请参加活动展前一天的提前培训，具体的时间及地点会在之后告知。
        p 我们会提供NPC证件、中午的工作餐，以及相应的工资，如有想法，请添加QQ：3202435159，说明是看板娘申请，并给出以往参加活动的看版娘经历，以及模卡作为审核，期待您的加入。
        p P.S 我们会在现场录制版娘们工作的镜头，动作特写，和现场拍照等，拍照和视频后期都会精修后放出，如有不太喜欢录制视频者可以提前告知。
        a(style="margin-top: 20px;",class="btn", href="https://qm.qq.com/cgi-bin/qm/qr?k=vuRJUKV2cM-tBkXQG99zobYc0SeLJSDp&noverify=0") 联系负责人：麻薯