extends  ./base/layout.pug

block header
  -  nav = "ticket"
  title 票务相关 - 大连东方ProjectOnly / 大连THO

block main
  .page_ticket.page_coming
    .ch.container.pagetitle.clear
      img(src="./source/img/coming.svg")
      h1 少女祈祷中
      p 尽请期待