<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./source/style/ionicons.min.css")
    link(rel="stylesheet", href="./source/style/th.css")
    script(src="./source/script/jquery.min.js")
    script(src="./source/script/app.js")
    script(src="./source/script/apply.js")
    meta(name="description" content="愿与你相逢于幻想乡，首届大连东方ProjectOnly，幻想空闻集——风海小祭！")
    meta(name="keywords" content="大连 东方 东方Project DLTHO 大连THO 大连东方Project 东方Only 漫展 活动 live 线下 演出 同人")
    block header
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123043996-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-123043996-1');
  body
    .intro
      block intro
    .main 
      block main
      .ch.footer
        .container
          h3 - 愿与你相逢于幻想乡 -
          .meta
            .links
            p.small 辽ICP备17001495号-3
            p.small <a class="pre" href="https://github.com/Nekotora/dlthonly-site">DLTHO03 Site Build at #{(new Date()).toLocaleDateString() + ' ' + (new Date()).toLocaleTimeString()}</a>