<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="./source/style/ionicons.min.css")
    link(rel="stylesheet", href="./source/style/th.css")
    script(src="./source/script/app.js")
    script(src="./source/script/apply.js")
    meta(name="description" content="愿与你相逢于幻想乡，首届大连东方ProjectOnly，幻想空闻集——风海小祭！")
    meta(name="keywords" content="大连 东方 东方Project DLTHO 大连THO 大连东方Project 东方Only 漫展 活动 live 线下 演出 同人 2019")
    block header
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123043996-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-123043996-1');
  body
    include ./side.pug
    .main 
      .ch.header
        .container.clear
          img.logo(src="./source/img/logo2.png")
          .nav
            - var currentNav = nav ? nav : ''
            a#meta(href="./index.pug" class=(currentNav == 'meta') ?'current': '') 主页
            a#booth(href="./booth.pug" class=(currentNav == 'booth') ?'current': '') 嘉宾摊位
            a#apply(href="./apply_ready.pug" class=(currentNav == 'apply') ?'current': '') 活动报名
            a#ticket(href="./ticket.pug" class=(currentNav == 'ticket') ?'current': '') 门票周边
            a#about(href="./about.pug" class=(currentNav == 'about') ?'current': '') 关于我们
            a#jp(href="./jp.pug" class=(currentNav == 'jp') ?'current': '') 日本語
      block main
      .ch.footer
        .container
          h3 愿与你相逢于幻想乡
          .meta
            .links
              a(href="./about.pug") Staff / 活动须知与声明
              a(href="./jp.pug") 海外サークル出展特設ページ
            p.small 辽ICP备17001495号-2<span style="color:#bbb"> / Build at #{(new Date()).toISOString()}</span>
      <script type="text/javascript" src="//tajs.qq.com/stats?sId=65951740" charset="UTF-8"></script>