<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 大连东方ProjectOnly / DLTHONLY
    link(rel="stylesheet", href="./source/style/ionicons.min.css")
    link(rel="stylesheet", href="./source/style/th.css")
    script(src="./source/script/app.js")
    script(src="./source/script/apply.js")
    block header
  body
    include ./side.pug
    .main 
      .ch.header
        .container.clear
          img.logo(src="./source/img/logo.png")
          .nav
            - var currentNav = nav ? nav : ''
            a#meta(href="./index.pug" class=(currentNav == 'meta') ?'current': '') 活动信息
            a#booth(href="./booth.pug" class=(currentNav == 'booth') ?'current': '') 参展嘉宾/摊位
            a#apply(href="./apply_booth.pug" class=(currentNav == 'apply') ?'current': '') 参展摊位/NPC报名
            a#ticket(href="./ticket.pug" class=(currentNav == 'ticket') ?'current': '') 票务相关
            a#about(href="./about.pug" class=(currentNav == 'about') ?'current': '') 关于/联系我们
      block main
      .ch.footer
        .container
          h3 愿与你相逢于幻想乡
          .meta
            p 大连THOnly筹办组 / 大连东方Project同好会
            p illustraor 橘前辈 / 玲⑨
            p logo designer 阿时
            p Website by <a href="http://flag.moe/?from=dlthonly">Nekotora</a> @ <a href="http://nyanket.com/?from=dlthonly">Nyanket!喵通贩</a>
            p.small 辽ICP备17001495号-2
