.leftbar
      .scene#scene
        .background.bg(data-depth="0.2",style="z-index:3")
        .background.figma_left(data-depth="0.4",style="z-index:6")
        .background.figma_right(data-depth="0.65",style="z-index:6")
        .flow(data-depth="0.8",style="z-index:8")
          img(src="./source/img/g_logo.png")
        .shadow(style="z-index:9")
          .inner
        .text(data-depth="0.8",style="z-index:10")
          .titlebox
            h1 相逢于幻想乡<br><span>属于大连的东方ProjectOnly</span>
            h2 TouHou Only / 东方 Live Party<br>大连 · 2019.02.23
