.leftbar
      .scene#scene
        .background(data-depth="0.2",style="z-index:5")
        .background.figma(data-depth="0.4",style="z-index:6")
        .flow(data-depth="0.5",style="z-index:7")
          img(src="./source/img/g_logo.png")
        .shadow(style="z-index:8")
          .inner
        .text(data-depth="0.6",style="z-index:9")
          .titlebox
            h1 相逢于幻想乡<br><span>属于大连的东方ProjectOnly</span>
            h2 Touhou Only / Touhou Live Party<br>大连 · 2019.02.24