.leftbar
      .scene#scene
        .background(data-depth="0.2")
        .background.figma(data-depth="0.4")
        .flow(data-depth="0.7")
          img(src="./source/img/logo.png")
        .navbox(data-depth="0.5")
          .nav
            a(href="./index.pug#meta") 活动信息
            a(href="./index.pug#map") 活动地点
            a(href="./index.pug#booth") 参展摊位
            a(href="./apply.pug") 报名申请
            a(href="#ticket") 票务相关
            a(href="#more") 更多内容